export(coef)
export(create.sgldata)
export(features)
export(models)
export(nmod)
export(parameters)
export(sgl.algorithm.config)
export(sgl_cv)
export(sgl_fit)
export(sgl_lambda_sequence)
export(sgl_predict)
export(sgl.standard.config)
export(sgl_subsampling)
import(Matrix)
S3method(coef,sgl)
S3method(features,sgl)
S3method(models,sgl)
S3method(nmod,sgl)
S3method(parameters,sgl)
useDynLib(sglOptim,.registration=TRUE)
