export(create.sgldata)
export(prepare.args)
export(rearrange.sgldata)
export(sgl.algorithm.config)
export(sgl_cv)
export(sgl_fit)
export(sgl_lambda_sequence)
export(sgl_predict)
export(sgl.standard.config)
export(sgl_subsampling)
import(Matrix)
