export(logreg.sgl)
export(logreg.sgl.cv)
export(logreg.sgl.lambda.seq)
export(msgl)
export(msgl.cv)
export(msgl.lambda.seq)
export(msgl.subsampleing)
export(predict.lrsgl)
export(predict.msgl)
export(sgl.algorithm.config)
export(sgl.standard.config)
useDynLib(msgl)
useDynLib(msgl,r_logreg_sgl_basic)
useDynLib(msgl,r_logreg_sgl_cv)
useDynLib(msgl,r_logreg_sgl_lambda_seq)
useDynLib(msgl,r_msgl_basic)
useDynLib(msgl,r_msgl_cv)
useDynLib(msgl,r_msgl_lambda_seq)
useDynLib(msgl,r_msgl_predict_classes)
useDynLib(msgl,r_msgl_sparse_basic)
useDynLib(msgl,r_msgl_sparse_cv)
useDynLib(msgl,r_msgl_sparse_lambda_seq)
useDynLib(msgl,r_msgl_sparse_predict_classes)
import(Matrix)
